

.flexcontainer{
    display: flex;
    justify-content: center;
    background-color: bisque;
    padding-top: 20px;
    

}
.divItem{
    border: 5px solid blue;

 
}
.divtop{
    display: flex;
    justify-content: center;
    gap:10px;


}
.box{
    background-color:azure;
    padding:10px;
}
.bottom{
    text-align: center;
    margin-top:20px;
    background-color: azure;
}
p{
    text-align: center;
}