*,*::before,*::after{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background-color: rgba(0, 255, 145, 0.754);
}
.calculator-grid{
    display: grid;

   justify-content: center;
   align-content: center;
   min-height: 100vh;  
   grid-template-columns: repeat(4,100px);

  grid-template-rows: minmax(100px,auto)  repeat(5,100px)
}
.calculator-grid>button{
     cursor: pointer; 
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(215, 227, 250, 0.476);
}
.calculator-grid>button:hover{
    background-color: aqua;

}
.span-two{
    grid-column: span 2;
    
}
.output{
    grid-column: 1/-1;
    background-color: black;
    display: flex;
    align-items: flex-end;
    color: white;
    justify-content: space-around;
   flex-direction: column;
    
}